<div class="mt-4">
  <div class="row">
    <div class="col">
      <form method="POST" action="/course/store">
        <div class="form-group">
          <label for="name">Tên khóa học</label>
          <input type="text" class="form-control" name="name" />
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <textarea
            type="text"
            class="form-control"
            name="description"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="name">video Id</label>
          <input type="text" class="form-control" name="videoId" />
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
      </form>
    </div>
  </div>
</div>